/* Top banner */
.top {
  color: #828282;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.top-container {
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.domain {
  padding: 5px 12px;
  font-size: 15px;
  font-weight: 300;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}
.contact {
  display: flex;
  align-items: center;
}
.contact .phone {
  padding: 5px 12px;
  font-size: 13px;
  font-weight: 400;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}
.contact .social {
  padding: 5px 12px;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}
.contact .social ul {
  display: flex;
  align-items: center;
}
.contact .social ul a {
  font-size: 14px;
  color: #000;
  padding: 7px;
}

/* Header */
header {
  padding: 22px 0;
}
.header-container {
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  font-size: 24px;
  font-weight: 700;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu ul li a {
  font-size: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.9);
  padding: 0 15px;
}
.btn-container {
  margin-left: 5px;
}
.btn-container a {
  color: #fff;
  background: #2d6cdf;
  font-size: 14px;
  font-weight: 300;
  padding: 7px 10px;
}
