/* Top banner */
.top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.domain {
  color: #828282;
  font-size: 15px;
  font-weight: 300;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}
.contact {
  display: flex;
  align-items: center;
}
.contact .phone {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  font-weight: 400;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}
.contact .social {
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}
.contact .social ul {
  display: flex;
  align-items: center;
}
.contact .social ul a {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.9);
  padding: 7px;
}
.domain,
.phone,
.social {
  padding: 5px 12px;
}

/* Header */
header {
  padding: 22px 0;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  font-size: 24px;
  font-weight: 700;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu ul li a {
  font-size: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.9);
  padding: 0 15px;
}
.menu ul li.active a {
  font-weight: 400;
}
.btn-container {
  margin-left: 5px;
}
.btn-container a {
  color: #fff;
  background: #2d6cdf;
  font-size: 14px;
  font-weight: 300;
  padding: 7px 10px;
}
