/* Top banner */
.top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.domain {
  color: var(--gray-color);
  font-size: 15px;
  font-weight: 300;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}
.contact {
  display: flex;
  align-items: center;
}
.contact .phone {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  font-weight: 400;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}
.contact .social {
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}
.contact .social ul {
  display: flex;
  align-items: center;
}
.contact .social ul a {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.9);
  padding: 7px;
}
.domain,
.phone,
.social {
  padding: 5px 12px;
}

/* Header */
header {
  padding: 22px 0;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  font-size: 24px;
  font-weight: 700;
}
header .flex-container {
  display: flex;
  align-items: center;
}
.menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu ul li a {
  font-size: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.9);
  padding: 0 15px;
}
.menu ul li.active a {
  font-weight: 400;
}
.btn-container {
  margin-left: 5px;
}
.btn-container a {
  color: #fff;
  background: #2d6cdf;
  font-size: 14px;
  font-weight: 300;
  padding: 7px 10px;
  transition: box-shadow 0.3s;
}
.btn-container a:hover {
  box-shadow: 3px 5px 10px #828282d3;
}

/* Slider */
.slider {
  position: relative;
  width: 100%;
  height: 630px;
  overflow: hidden;
}
.slide {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 1.5s;
}
.slide img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 750px;
  color: #fff;
  text-align: center;
}
.slide .content h2 {
  font-size: 40px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 20px;
}
.slide .content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 30px;
}
.slide .content p a {
  color: rgba(255, 255, 255, 0.5);
}
.slide .content a.btn {
  display: inline-block;
  color: #fff;
  background: var(--primary-color);
  padding: 18px 30px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 30px;
}
.slider .navigation {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.slider .navigation-btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  margin: 0 5px;
}
.slider .navigation-btn.active {
  background: rgba(255, 255, 255, 0.7);
}

/* Categories Section */
.categories {
  text-align: center;
}
.categories-content {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  grid-template-rows: repeat (2, 1fr);
  justify-content: space-between;
}
.category {
  margin: 0 20px 30px;
}
.category h4 {
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  margin-bottom: 20px;
}
.category p {
  color: var(--gray-color);
  font-size: 15px;
}
.category span {
  display: inline-block;
  width: 90px;
  height: 90px;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 50%;
  margin-bottom: 30px;
  transition: 0.3s;
}
.category:hover span {
  color: #fff;
  background-color: #2e6ddf;
}
.category i {
  font-size: 40px;
  position: relative;
  top: 25px;
}

/* Counter Section */
.counter {
  position: relative;
  background: url("../images/img_bg_4.jpg") no-repeat;
  background-size: cover;
  padding: 120px 0;
}
.counter .container {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-family: "Roboto Slab", serif;
}
.counter .container div {
  margin: 0 50px;
  z-index: 999;
}
.counter .container i {
  font-size: 45px;
  margin-bottom: 5px;
}
.counter .container .number {
  font-size: 44px;
  font-weight: 400;
  margin-bottom: 5px;
}
.counter .container p:not(.number) {
  font-size: 16px;
  font-weight: 400;
}

/* Courses Section */
.courses {
  text-align: center;
}
.courses-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.course {
  display: flex;
}
.course a {
  position: relative;
  flex-basis: 50%;
}
.course .course-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  transition: 0.5s;
}
.course a:hover .course-overlay {
  background: rgba(0, 0, 0, 0.5);
}
.course a img {
  width: 100%;
  height: 100%;
}
.course-text {
  flex-basis: 50%;
  padding: 25px;
  text-align: left;
  background: #fafafa;
}
.course-text h4 {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 20px;
}
.course-text p {
  color: var(--gray-color);
  font-size: 15px;
  margin-bottom: 20px;
}
.course-text > a {
  display: inline-block;
  margin-bottom: 5px;
}

/* Testimonials Section */
.testimonials {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fff;
  background-image: url(../images/school.jpg);
  overflow: hidden;
  text-align: center;
}
/* .testimonials .overlay {
  background: rgba(31, 95, 139, 0.7);
} */
.testimonials h3 {
  display: inline-block;
  position: relative;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 45px;
  line-height: 1.5;
  text-transform: uppercase;
}
.testimonials h3 span {
  position: relative;
}
.testimonials h3 span::before {
  content: "";
  position: absolute;
  top: 17px;
  left: -55px;
  width: 40px;
  height: 1px;
  background-color: #fff;
}
.testimonials h3 span::after {
  content: "";
  position: absolute;
  top: 17px;
  right: -55px;
  width: 40px;
  height: 1px;
  background-color: #fff;
}

.testimonial-container {
  display: flex;
  width: 300%;
}
.testimonial {
  width: 33.33%;
  transition: 1.5s;
}
.testimonial span {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 50%;
}
.testimonial span img {
  width: 100%;
  height: 100%;
}
.testimonial .writer {
  font-size: 14;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.testimonial .status {
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.testimonial .quote {
  max-width: 680px;
  margin: 0 auto;
  font-size: 17.5px;
}

.testimonials .navigation {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.testimonials .navigation-btn {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}
.testimonials .navigation-btn.active {
  background: #fff;
}

/* Blog & Events Section */
.blog-events .events {
  display: flex;
}
.events .event {
  display: flex;
  padding: 0 15px;
}
.events .event .day span {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding-top: 26px;
  color: rgb(130, 130, 130);
  font-size: 20px;
  font-weight: 700;
  background: rgb(0, 0, 0, 0.03);
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
}
.events .event .flex-container {
  margin-left: 20px;
}
.events .event h4 {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}
.events .event p {
  color: var(--gray-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 25.5px;
  margin-bottom: 20px;
}
.events .event .flex-container > a {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 15px;
}
