@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&family=Source+Sans+Pro:wght@300;400;700&display=swap");

/* font-family: 'Roboto Slab', serif;
font-family: 'Source Sans Pro', sans-serif; */

:root {
  --primary-color: #2d6cdf;
  --gray-color: #828282;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  line-height: 1.7;
  font-family: "Source Sans Pro", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.btn-transparent {
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: transparent;
  padding: 11px 15px;
  border: 2px solid rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}
.btn-transparent:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}

.intro {
  margin-bottom: 75px;
}
.intro h3 {
  position: relative;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 1.5;
  text-transform: uppercase;
}
.intro h3::after {
  content: "";
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.08);
  width: 50px;
  height: 1px;
}
.intro p {
  color: var(--gray-color);
  font-size: 14px;
  margin-bottom: 20px;
}

.p-105 {
  padding: 105px 0;
}
