@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  line-height: 1.7;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
